{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<!--Page Title-->
<section class="page-title">
    <div class="image-layer" style="background-image:url(images/background/7.jpg);"></div>
    <div class="auto-container">
        <h1>Contact With Us</h1>
        <div class="bread-crumb">
            <ul class="clearfix">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</section>


<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">
        <!--Heading-->
        <div class="form-container">

            <!--Quote Form-->
            <div class="form-style-one quote-form">
                <form method="post">{% csrf_token %}
                    <div class="row clearfix">
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">Email ou mot de passe incorect</div>
                        {% endif %} {% include "message.html" %}

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            {{form.username|as_crispy_field}}
                            <a href="{% url 'account_reset_password' %}">Changer Mot de passe</a>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            {{form.password1|as_crispy_field}}
                        </div>





                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="text-center"><button type="submit" class="theme-btn btn-style-two">Connecter</button></div>
                        </div>

                    </div>

                </form>
            </div>
            <!--End Quote Form-->

        </div>
    </div>
</section>

<!--Info Section-->
<section class="info-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="info-column col-md-4 col-sm-4 col-xs-12">
                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="flaticon-phone-book"></span></div>
                    <ul>
                        <li>+880 258 158 58215 <br>info@domain.com</li>
                    </ul>
                </div>
            </div>
            <div class="info-column col-md-4 col-sm-4 col-xs-12">
                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="flaticon-clock"></span></div>
                    <ul>
                        <li>Mon - Sat 8.00 to 18.00 <br>Sunday Closed</li>
                    </ul>
                </div>
            </div>
            <div class="info-column col-md-4 col-sm-4 col-xs-12">
                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="flaticon-placeholder-2"></span></div>
                    <ul>
                        <li>2001 East Phillips Circle <br>Centennial, Colorado </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %} {% block extra_javascript %} {% endblock %}